body {
  background-color: #18122b;
  width: 1040px;
  margin: 0 auto;
  margin-top: 190px;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: white;
}
form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

input[type="text"] {
  appearance: none;
  padding: 15px 35px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  background-color: rgba(99, 89, 133, 0.3);
  color: white;
}

.text-placeholder::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
}

.button-submit {
  background-color: #18122b;
  border: solid;
  border-color: #18122b;
  border-radius: 20px;
  padding: 15px 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.button-submit:hover {
  background-color: #635985;
  border-color: #635985;
}
.current-search {
  background-color: rgb(57, 48, 83, 0.3);
  padding: 10px 30px 40px;
  border-radius: 20px;
}
.intro-current {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.current-city h1 {
  font-size: 50px;
  margin: 0;
}

.description-current-weather {
  font-size: 15px;
  margin: 4px;
}

.introData {
  color: #635985;
  font-weight: bold;
}

.current-temperature {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.weather-app-icon {
  width: 100px;
  height: 100px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-inline-start: 0px;
}

.day-of-the-week {
  border: none;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding: 25px 40px;
  margin: 0px;
  font-size: 20px;
}

.dayWeek {
  border: none;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgba(99, 89, 133, 0.2);
  padding: 0;
  margin: 0 -2px auto;
  border-radius: 20px;
}

strong {
  color: #635985;
}

.temperature {
  display: block;
  position: relative;
  bottom: -8px;
}

.week {
  display: block;
  position: relative;
  justify-content: space-between;
}

img[src="images/cloud2.png"] {
  display: flex;
  position: relative;
  width: 25px;
  right: -17px;
  top: 3px;
}

img[src="images/cloudy-day1.png"] {
  display: flex;
  position: relative;
  width: 25px;
  right: -30px;
  top: 3px;
}

img[src="images/cloud3.png"] {
  display: flex;
  position: relative;
  width: 25px;
  right: -22px;
  top: 3px;
}

img[src="images/sun.png"] {
  display: flex;
  position: relative;
  width: 25px;
  right: -23px;
  top: 3px;
}

img[src="images/cloudy.png"] {
  display: flex;
  position: relative;
  width: 25px;
  right: -26px;
  top: 3px;
}

img[src="images/rain.png"] {
  display: flex;
  position: relative;
  width: 25px;
  right: -42px;
  top: 3px;
}

footer a {
  color: #635985;
  font-weight: bold;
}
